{% extends "dashboard/index.html" %}

{% block title %}Checkouts Today{% endblock %}

{% block css %}
<link rel="stylesheet" href="../../static/css/dashboard/equipment.css">

<style>
    h2[data-customer-id] {
        color: #19b05d;
        cursor: pointer;
    }
    h2[data-customer-id]:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<section class="container-fluid">
    <h3 class="text-center mb-0">Checkouts Today</h3><br>
    <div class="row">
        <form method="post" action="{{ url_for('equipment_checkout_day') }}" class="row g-3 align-items-end">
            <div class="col-md-3">
                <input type="date" class="form-control" id="inputDate" name="date" value="{{ date }}">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" style="background: none; border: none;"
                    data-placement="top" title="Search">
                    <i class="fas fa-search main-color mx-1"></i>
                </button>
            </div>
        </form>
        <a href="{{ url_for('get_equipment_returns_calendar') }}" class="btn btn-primary mt-3">
            <i class="bi bi-calendar3"></i>
            &nbsp;&nbsp;
            View Calendar
        </a>
    </div>
    <hr>
        {% if bookingList %}
            {% for booking in bookingList %}
            <div class="bookingcard w-100">
                <section class="up row">
                    <section class="col-4 left">
                        <p> Booking Number: {{booking.booking_id}}</p>
                        <h2 data-customer-id="{{ booking.customer_id }}"> Customer Name: {{booking.last_name}} {{booking.first_name}}</h2>
                    </section>
                    <section class="col-6 p-4 ">
                        <ul class="list-group list-group-horizontal equipment equipment-title">
                            <li class="list-group-item col">equipment name</li>
                            <li class="list-group-item col">S/N</li>
                            <li class="list-group-item col">hire period</li>
                            <li class="list-group-item col">action</li>
                        </ul>
                            {% for item in bookingItemList %}
                            {% if item.booking_id == booking.booking_id %}
                            <ul class="list-group list-group-horizontal equipment">
                                <li class="list-group-item col">{{item.name}}</li>
                                <li class="list-group-item col">{{item.sn}}</li>
                                <li class="list-group-item col">{{item.hire_from.strftime('%d/%m/%Y %H:%M:%S')}} <div>-</div> {{item.hire_to.strftime('%d/%m/%Y %H:%M:%S')}}</li>
                                <li class="list-group-item col">
                                    {% if item.status == 2 %}
                                    <a class=" btn mb-4 px-3 a" disable>Checked Out</a>
                                    {% elif item.status == 3 %}
                                    <a class=" btn mb-4 px-3" disable>returned</a>
                                    {% else %}
                                    <a  class="btn mb-4 px-3 confirm" data-id="{{item.booking_item_id}}">Confirm Check Out</a>
                                    {% endif %}
                                </li>
                            </ul>
                            {% endif %}
                            {% endfor %}
                    </section>
                   
                </section>
            </div>
            {% endfor %}

        {% else %}
        <div>NO Booking pick up Today.</div>
        {% endif %}
</section>



<!-- Bootstrap Modal -- Display customer information-->
<div class="modal fade" id="customerDetailsModal" tabindex="-1" aria-labelledby="customerDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailsModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Customer details will be filled by JavaScript -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.confirm').click(function() {
            var id = $(this).data('id');

            $.ajax({
                url: '/checkout',
                type: 'post',
                data: { id: id },
                success: function(data) {
                    location.reload();
                },
                error: function(error) {
                    console.log('Error fetching data:', error);
                }
            });
        });

    });
</script>

<script>
    $(document).ready(function() {
        $('h2').click(function() {
            var customerId = $(this).data('customer-id');
            $.ajax({
                url: '/get_customer_details/' + customerId,
                type: 'GET',
                success: function(data) {
                    if (data.error) {
                        console.error('Error:', data.error);
                    } else {
                        $('#customerDetailsModal .modal-body').html(`
                            <p><strong>First Name:</strong> ${data.first_name}</p>
                            <p><strong>Last Name:</strong> ${data.last_name}</p>
                            <p><strong>Phone:</strong> ${data.phone}</p>
                            <p><strong>Address Line 1:</strong> ${data.address_line1}</p>
                            <p><strong>Address Line 2:</strong> ${data.address_line2}</p>
                            <p><strong>Suburb:</strong> ${data.suburb}</p>
                            <p><strong>City:</strong> ${data.city}</p>
                            <p><strong>Post Code:</strong> ${data.post_code}</p>
                            <p><strong>Store Name:</strong> ${data.store_name}</p>
                            <p><strong>Email:</strong> ${data.email}</p>
                        `);
                        $('#customerDetailsModal').modal('show');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        });
    });
</script>

{% endblock %}
