{% extends "dashboard/index.html" %}

{% block title %}Messages{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-center mb-0">Message List</h3><br>
    <section class="container">
        {% for msg in messageList %}
        <a class="row m-2 border border-secondary rounded-3 editmsg" data-id='{{msg.message_id}}'>
            <div class="col-2 text-start fs-3">
                {% if msg.status == 1 %}<i class="fa-solid fa-envelope main-color "></i>{% else %}<i class="fa-solid fa-envelope-open main-color"></i>{% endif %}
            </div>
            <div class="col-10 d-flex align-items-center">
                <div class="px-2">
                    <strong class="text-uppercase">Message Subject: </strong> {{msg.subject}}
                </div>
                <div class="px-2">
                    <strong class="text-uppercase">Customer Name: </strong> {{msg.first_name}} {{msg.last_name}} <strong class="text-uppercase">contact Number: </strong> {{msg.phone}}
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}