{% if session['role'] != 'customer' %}
    {% extends "dashboard/index.html" %}
{% else %}
    {% extends "index.html" %}
{% endif %}



{% block title %}Change Password{% endblock %}

{% block css %}
<style>
    .form-label {
        text-align: left;
    }

    .form-control {
        width: 60%;
    }

    .invalid-feedback {
        text-align: left;
    }
</style>
{% endblock %}
{% block content %}


<div class="container-fluid mt-5">
    <h2 class="text-center mb-4">Change Password</h2>
    <div class="text-center">
        <form class="needs-validation" novalidate action="{{ url_for('change_password') }}" method="post">
            <div class="mb-3 row">
                <label for="current_password" class="form-label col-sm-4 text-end">Current Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="current_password" name="current_password" required>
                    <div class="invalid-feedback">
                        Please enter current password!
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="new_password" class="form-label col-sm-4 text-end">New Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="new_password" name="new_password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}$" required>
                    <div class="invalid-feedback">
                        Password must be at least 8 characters long and have a mix of character types!
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="confirm_password" class="form-label col-sm-4 text-end">Confirm New Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    <div class="invalid-feedback">
                        Please enter confirm password!
                    </div>
                </div>
            </div>
            <div class="msg mb-3">{{ msg }}</div>
            <input class="btn btn-danger" type="submit" value="Submit">
        </form>
    </div>
</div>
<br>
<div style=" height: 20%;"></div>
{% endblock %}

{% block js %}
<script>
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
    })

</script>
{% endblock %}